/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}



/* Your code starts here! */


body {
	padding: 20px 5%;
}
/*header stuff*/

header {
	padding-bottom: 40px;
}

header a {
	color:gray;
	text-decoration: none;
	margin: 0 3%;
}

header nav {
	display:inline-block;
	width:70%;
	/* white-space: nowrap; */
}

header .logo {
	display:inline-block;
	position:absolute;
	right:10%;
}






/*intro styling*/

.introduction {
	margin-bottom:40px;
}
.introduction div {
	display:inline-block;
	width: 40%;
	margin: 0 4.9%;
	vertical-align:middle;
}

.introduction p {
	border: 1px solid black;
	height: 20px;
	width: 150px;
	text-align: center; 
	vertical-align: middle;
	margin: 0 auto;
}

.introduction h1 {
	font-size: 5em;
	text-align: center;
}


/* Style the text and the image */

.middle {
	padding: 2% 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.top-row div{
	width:49%;
	display:inline-block;
}

.middle img {
	width: 100%;
	margin: 3% 0;
}

.bottom-row div {
	width:30%;
	margin: 1%;
	display:inline-block;
}

/*style the footer*/

footer {
	margin-top: 30px;
}

address p {
	margin: 2% 0%;
}

.copyright {
	text-align: center;
}